# Hedera
PRIVATE_KEY="your-private-key"
EVM_ADDRESS="your-evm-address"
SEPOLIA_RPC_URL="https://ethereum-sepolia-rpc.publicnode.com"
ROOTSTOCK_RPC_URL="https://public-node.testnet.rsk.co"
HEDERA_RPC_URL="https://testnet.hashio.io/api"

# Claude
ANTHROPIC_API_KEY="your-anthropic-api-key"
CLAUDE_MODEL="claude-4-sonnet-20250514"
#OR
# Groq
GROQ_API_KEY="your-groq-api-key"
GROQ_MODEL="llama-3.3-70b-versatile"
